@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
  background: linear-gradient(to right, #e8eddf 70%, #f4cb5c 70%);
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}
