@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
  background: #E8EDDF;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
}